/.ipynb_checkpoints
/code_HW copy 2.ipynb
/code_HW copy 3.ipynb
/code_HW copy 4.ipynb
/code_HW copy 5.ipynb
/code_HW copy.ipynb
/data
/data_extension
/financial_statements_extension.csv
/get_HW_data.ipynb
/security_daily.csv